<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('homepage') }}">vqGame</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('articles_index') }}">Jeux</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('categories_index') }}">Catégories</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if app.user %} 
            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_index') }}">Mon dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profil_index') }}">Mon compte</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profil_index') }}">Mon compte</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Me connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">M'inscrire</a>
            </li>
        {% endif %}
    </ul>
    </div>
  </div>
</nav>
